/* Root */
html {
    --upper-background-lightness: 75%;
    --background-lightness: 93%;
    --card-lightness: 100%;
    --text-lightness: 12%;

    --upper-background-hue: 200;

    --background-sat: 100%;
    --upper-background-sat: 100%;

    --upper-background: hsl(var(--upper-background-hue), var(--upper-background-sat), var(--upper-background-lightness));
    --background: hsl(187, var(--background-sat), var(--background-lightness));
    --card: hsl(0, 0%, var(--card-lightness));
    --text: hsl(0, 0%, var(--text-lightness));
}

html[data-theme='dark'] {
    --upper-background-lightness: 10%;
    --background-lightness: 12%;
    --card-lightness: 15%;
    --text-lightness: 92%;

    --background-sat: 0%;
}

/* Body and containers */
body {
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: var(--upper-background);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text);
}

.parallax-wrapper {
    height: calc(10vh + 20vw + 30rem);
    max-height: calc(60vh - 8vw + 10rem);
}

.parallax {
    position: fixed;
    top: 2rem;
    left: 50%;
    width: 95vw;

    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.regular {
    position: relative;
}

.regular .separator {
    z-index: 2;
    width: 100%;
    height: 5vw;
    fill: var(--background);
}

/* Parts */
.info {
    margin-top: 1rem;
    text-align: center;
}

.body {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    background-color: var(--background);
}

/* Header */
#penguin {
    max-width: 60vw;
    height: 20vh;
    cursor: pointer;
}

html[data-theme='dark'] #penguin {
    -webkit-filter: drop-shadow(0 0 8px hsla(0, 100%, 100%, .5));
    filter: drop-shadow(0 0 8px hsla(0, 100%, 100%, .5));
}

.foot {
    fill: #fc9f3a;
}

.foot.dark {
    fill: #f79411;
}

.outerBody {
    fill: #2d2d2d;
}

.outerBody.dark {
    fill: #252525;
}

.innerBody {
    fill: #ffffff;
}

.eye {
    fill: #252525;
}

.beak {
    fill: #fc9f3a
}

.beak.dark {
    fill: #f79411
}

/* Cards */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-bottom: 2rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    max-width: 90vw;
    margin: 0 3rem;
    text-align: center;
    border-radius: 19px;
    background: var(--card);
    box-shadow: -1px 15px 30px -12px #000000;
}

@media (max-width: 500px) {
    .card {
        margin: 0
    }
}

.card-container:nth-child(2n) {
    justify-content: flex-end;
}

.card-container:nth-child(3n) {
    justify-content: center;
}

.card .card-title {
    position: relative;
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.card .card-content {
    width: 95%;
    margin: auto;
}

.card .card-bottom {
    font-weight: 700;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.card-blue .card-title {
    background: linear-gradient(40deg, #45cafc, #606fd2);
}

html[data-theme='dark'] .card-blue .card-title {
    background: linear-gradient(40deg, #2d3c9f, #007ba8);
}

.card-blue .card-bottom {
    background: #3f51b5;
}

.card-green .card-title {
    background: linear-gradient(220deg, #43a396, #04c35d);
}

html[data-theme='dark'] .card-green .card-title {
    background: linear-gradient(220deg, #008f43, #006658);
}

.card-green .card-bottom {
    background: #33995c;
}

.card-yellow .card-title {
    background: linear-gradient(40deg, #f7971e, #ffd200);
}

html[data-theme='dark'] .card-yellow .card-title {
    background: linear-gradient(40deg, #b38300, #c87004);
}

.card-yellow .card-bottom {
    background: #ffa805;
}

.card-red .card-title {
    background: linear-gradient(220deg, #d04935, #d01127);
}

html[data-theme='dark'] .card-red .card-title {
    background: linear-gradient(220deg, #a51223, #a3452e);
}

.card-red .card-bottom {
    background: #b81428;
}

.card-purple .card-title {
    background: linear-gradient(40deg, #d3507b, #9a64c4);
}

html[data-theme='dark'] .card-purple .card-title {
    background: linear-gradient(40deg, #743c9e, #b5268f);
}

.card-purple .card-bottom {
    background: #743c9e;
}

.clearfix:after {
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: " ";
}

/* Content */
.icon {
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

.icon svg {
    width: 1.5rem;
    height: 1.5rem;
}

.container a {
    color: inherit;
}

.title-content {
    width: calc(100% - 50px);
}

.pin {
    position: absolute;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
    transform: rotate(-45deg);
}

.pin:hover {
    color: #dddddd;
}

.pinned {
    order: 0;
}

.pinned .pin {
    color: #8b0000;
}

.card img {
    width: 100%;
}

.card-title img.flag {
    position: absolute;
    right: 0;
    left: unset;
    width: 40px;
    height: 100%;
    border-top-right-radius: 14px;
    object-fit: unset;
}
