/* Root */
html {
    --upper-background-lightness: 93%;
    --background-lightness: 75%;
    --text-lightness: 31%;

    --background-hue: 200;

    --upper-background-sat: 100%;
    --background-sat: 100%;

    --upper-background: hsl(187, var(--upper-background-sat), var(--upper-background-lightness));
    --background: hsl(var(--background-hue), var(--background-sat), var(--background-lightness));
    --text: hsl(0, 0%, var(--text-lightness));
}

html[data-theme='dark'] {
    --upper-background-lightness: 7%;
    --background-lightness: 10%;
    --text-lightness: 89%;

    --upper-background-sat: 0%;
}

/* Body and containers */
body {
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: var(--upper-background);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text);
}

.regular svg {
    width: 100%;
    height: 5vw;
    fill: var(--background);
}

/* Parallax */
.parallax {
    position: fixed;
    top: 2rem;
    left: 50%;

    height: 50vh;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);

    transform: translate(-50%, 0);
}

.regular {
    position: relative;
    top: 50vh;
}

/* Parts */
.info {
    width: 50vh;
    max-width: 90vw;
    margin-top: 1rem;
}

.body {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    background-color: var(--background);
}

/* Header */

#penguin {
    max-width: 60vw;
    height: 20vh;
    cursor: pointer
}

.foot {
    fill: #fc9f3a;
}

.foot.dark {
    fill: #f79411;
}

.outerBody {
    fill: #2d2d2d;
}

.outerBody.dark {
    fill: #252525;
}

.innerBody {
    fill: #fff;
}

.eye {
    fill: #252525;
}

html[data-theme=dark] .eye {
    fill: #ab0000
}

.beak {
    fill: #fc9f3a
}

.beak.dark {
    fill: #f79411
}

/* Cards */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    max-width: 90vw;
    margin: 0 3rem;
    text-align: center;
    border-radius: 19px;
    background: #ffffff;
    box-shadow: -1px 15px 30px -12px #000000;
}

@media (max-width: 500px) {
    .card {
        margin: 0
    }
}

.card-container:nth-child(2n) {
    justify-content: flex-end;
}

.card-container:nth-child(3n) {
    justify-content: center;
}

.card .card-title {
    position: relative;
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.card .card-content {
    width: 95%;
    margin: auto;
}

.card .content-image {
    margin-top: 19rem;
}

.card .card-bottom {
    font-weight: 700;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.card-blue .card-title {
    background: linear-gradient(40deg, #45cafc, #606fd2);
}

.card-blue .card-bottom {
    background: #3f51b5;
}

.card-green .card-title {
    background: linear-gradient(220deg, #43a396, #00db66);
}

.card-green .card-bottom {
    background: #40a569;
}

.card-yellow .card-title {
    background: linear-gradient(40deg, #f7971e, #ffd200);
}

.card-yellow .card-bottom {
    background: #ffa805;
}

.card-red .card-title {
    background: linear-gradient(40deg, #cc6666, #af4b31);
}

.card-red .card-bottom {
    background: #b81428;
}

.card-purple .card-title {
    background: linear-gradient(40deg, #d3507b, #9a64c4);
}

.card-purple .card-bottom {
    background: #743c9e;
}

.clearfix:after {
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: " ";
}

/* Content */
.icon {
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

.icon svg {
    width: 1.5rem;
    height: 1.5rem;
}

.container a {
    color: inherit;
}

.title-content {
    width: calc(100% - 50px);
}

.card img {
    width: 100%;
}

.card-title img.flag {
    position: absolute;
    right: 0;
    left: unset;
    width: 40px;
    height: 100%;
    border-top-right-radius: 14px;
    object-fit: unset;
}
