---
    permalink: "/assets/js/theme.min.js"
---
// Dark theme activated
const darkTheme = function (dark) {
    if (typeof dark === "boolean") localStorage.setItem("darkTheme", dark);
    return localStorage.getItem("darkTheme") ? localStorage.getItem("darkTheme") === "true" :
        window.matchMedia('(prefers-color-scheme: dark)').matches;
};

function setTheme(dark = darkTheme()) {
    darkTheme(dark);

    document.documentElement.setAttribute("data-theme", dark ? "dark" : "light");

    if (typeof specificActions !== "undefined") specificActions(dark);
}

function playAudio(dark) {
    new Audio("/assets/sound/" + (dark ? "on" : "off") + ".mp3").play();
}

setTheme();
