---
layout: default
title: Tutor list
priority: 1
---
<div class="container parallax">

    <img src="/assets/img/tutor.png" alt="Image not found"/>

    <div class="info">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc laoreet non eros quis molestie. Nullam nec dapibus ex.</p>
    </div>

</div>

<div class="container regular">

    <svg preserveAspectRatio="none" width="1500" height="80" viewBox="0 0 1500 80">
        <path d="m 0,80 v 0 H 1500 C 1270,76 1165,-8 960,25 880,38 710,82 330,38 195,20 62,75 0,80 Z"></path>
    </svg>

    <div class="body">
        <div class="list">
            <h1>{{ title }}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet non eros quis molestie.
                Nullam nec dapibus ex. Duis vestibulum, libero at dignissim venenatis, nunc turpis consequat leo,
                sed commodo erat lacus bibendum eros. Donec fermentum feugiat mauris ac vehicula.
                Pellentesque eu pharetra nisi, sed eleifend risus. Nulla id laoreet tellus.
                Pellentesque sed libero justo.</p>


        </div>
    </div>

</div>
