<!-- Main -->
<script src="/assets/js/main.min.js"></script>

<!-- bLazy -->
<script src="/assets/js/blazy.min.js"></script>
<!-- Initialize -->
<script>(function(){const bLazy = new Blazy();})();</script>
