{% for tutor in collections.cards %}
    <div id="{{ tutor.data.page.fileSlug | hashString }}" class="card-container">
        <div class="card card-{% if tutor.data.disabled %}disabled{% else %}{% if tutor.data.color %}{{ tutor.data.color }}{% else %}{{ loop.index0 | mapToColor }}{% endif %}{% endif %}
            {% if not tutor.data.image %} no-image{% endif %}">

            <div class="card-title">
                <img class="flag" src="{{ (tutor.data.language + ".jpg") | mapToLink }}" alt="Image not found"/>
                <div class="title-content">
                    <h2>
                        {% if tutor.data.website %}
                        <a href="{{ tutor.data.website }}" target="_blank" rel="noopener">{% endif %}

                            {{ tutor.data.lastName }}, {{ tutor.data.firstName }}

                            {% if tutor.data.website %}
                            <span>{% FontAwesomeIcon name="globe", type="solid" %}</span>
                        </a>{% endif %}
                    </h2>

                    <h4 title="Time">
                        <span>{% FontAwesomeIcon name="clock", type="solid" %}</span>
                        <span>{% if tutor.data.disabled %}No longer takes place{% else %}{{ tutor.data.session }}{% endif %}</span>
                    </h4>
                </div>
            </div>

            {% if tutor.data.image %}
                <img src="{{ tutor.data.image | mapToLink }}" alt="Image not found"/>
            {% endif %}

            <div class="card-content">
                <h4 title="Location"><span>{% FontAwesomeIcon name="map-marker-alt", type="solid" %}</span>
                    <span>{{ tutor.data.location }}</span></h4>
                {{ tutor.templateContent | safe }}
            </div>

            <div class="card-bottom clearfix">
                {% FontAwesomeIcon name="thumbtack", type="solid", class="pin", title="Pin card" %}

                <p>{% if tutor.data.sessionLink %}
                        <a href="{{ tutor.data.sessionLink }}">Link to session</a>
                    {% else %}
                        No link available
                    {% endif %}</p>
            </div>
        </div>
    </div>
{% endfor %}
