<!-- Normalize -->
<link href="/assets/css/normalize.min.css" rel="stylesheet">
<!-- Main -->
<link href="/assets/css/main.min.css" rel="stylesheet">

<!-- Theme -->
<script src="/assets/js/theme.min.js"></script>
<!-- Before -->
<script src="/assets/js/beforeMain.min.js"></script>
